@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@300;400;500&display=swap");
/* Extra small devices (phone) */
@media (max-width: 576px) {
  /* CSS rules for extra small devices here */
}
/* Small devices (tablet) */
@media (min-width: 576px) and (max-width: 768px) {
  /* CSS rules for small devices here */
}
/* Medium devices (laptop) */
@media (min-width: 768px) and (max-width: 992px) {
  /* CSS rules for medium devices here */
}
/* Large devices (desktop) */
@media (min-width: 992px) and (max-width: 1200px) {
  /* CSS rules for large devices here */
}
/* Extra large devices (large desktop) */
@media (min-width: 1200px) {
  /* CSS rules for extra large devices here */
}
main {
  overflow-x: hidden !important;
}

.lc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lc-1 {
  -webkit-line-clamp: 1;
}
.lc-2 {
  -webkit-line-clamp: 2;
}
.lc-3 {
  -webkit-line-clamp: 3;
}
.lc-4 {
  -webkit-line-clamp: 4;
}

h1, h2, h3, h4, h5, h6, .font-dm {
  font-family: "DM Serif Display", serif;
  line-height: 125%;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 85px;
  /* Extra small devices (phone) */
  /* Small devices (tablet) */
  /* Medium devices (laptop) */
  /* Large devices (desktop) */
}
@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 70px;
  }
}

* {
  font-family: "Jost", sans-serif;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.icon {
  background: #E9F4FF;
  color: #292F36;
}

.btn-lds {
  display: inline-flex;
  align-items: center;
  gap: 0.7em;
  font-weight: 400;
  white-space: nowrap;
}
.btn-lds::after {
  content: url("https://api.iconify.design/ic/round-arrow-forward.svg?color=%232f7cff");
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -5px;
}
.btn-lds-prm {
  padding: 1.4em 2em;
  background: #292F36;
  color: white;
  box-shadow: 0px 10px 20px rgba(41, 47, 54, 0.25);
  border-radius: 18px;
}
.btn-lds-prm:hover {
  background-color: #212121;
}
.btn-lds-sec {
  font-weight: 500;
  color: #292F36;
}
.btn-lds-sec:hover {
  text-decoration: underline !important;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger > .iconify {
  font-size: 28px;
}
@media (min-width: 0px) and (max-width: 992px) {
  .burger {
    display: flex;
  }
}

nav.menu {
  transition: all 300ms ease-in-out;
  /* Small devices (tablet) */
}
nav.menu > div {
  display: none;
}
@media (min-width: 0px) and (max-width: 992px) {
  nav.menu {
    translate: 110%;
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    width: 17em;
    bottom: 0;
    flex-direction: column;
    background-color: #fff;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    align-items: flex-end !important;
    justify-content: start !important;
    padding: 2em;
  }
  nav.menu > div {
    display: flex;
    cursor: pointer;
  }
  nav.menu > div:hover {
    background-color: var(--bs-danger) !important;
    color: white !important;
  }
  nav.menu.active {
    translate: 0;
  }
}
nav.menu > a {
  color: #292F36;
  text-decoration: none;
}
nav.menu > a:hover {
  font-weight: 500;
  color: #2e269c;
}
nav.menu > a.active {
  font-weight: 600;
  color: #292F36;
}

.content img {
  width: 100% !important;
  margin: 1em 0px;
}

.hero {
  min-height: 80vh;
  padding: 10em 0px;
  border-radius: 0px 0px 0px 10em;
}

.service {
  margin: 6em 0px;
}

.brand {
  padding: 6em 0px;
}
.brand img {
  height: 2em;
  -o-object-fit: contain;
     object-fit: contain;
}

.project {
  padding: 10em 0px;
}
.project .project-item:first-child .project-img {
  border-top-right-radius: 8em;
}
.project .project-item:nth-child(2) .project-img {
  border-top-left-radius: 8em;
}
.project .project-item:nth-child(3) .project-img {
  border-bottom-right-radius: 8em;
}
.project .project-item:nth-child(4) .project-img {
  border-bottom-left-radius: 8em;
}
.project-item {
  color: #292F36;
}
.project-item .project-img {
  overflow: hidden !important;
}
.project-item .project-img img {
  width: 100%;
  aspect-ratio: 1/1;
  transition: all 200ms ease-in-out;
}
.project-item .project-img img:hover {
  transform: scale(1.1, 1.1);
}
.project-item .badge {
  font-weight: 400;
}

.project-p .project-item:nth-child(even) .project-img {
  border-top-right-radius: 8em;
  border-bottom-left-radius: 8em;
}
.project-p .project-item:nth-child(odd) .project-img {
  border-top-left-radius: 8em;
  border-bottom-right-radius: 8em;
}

.article {
  padding: 8em 0px;
}
.article-item {
  border-radius: 62px;
}
.article-item:hover {
  background: #E9F4FF;
  border-color: #E9F4FF !important;
}
.article-item:hover .icon {
  background: #fff;
}
.article-item img {
  aspect-ratio: 3/2;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */